@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Nordmarks Allé<br />
    2620 Albertslund<br />
    <abbr title="Telefonnummer">Tlf.</abbr>
    43 68 68 68
</address>

<address>
    <strong>Læge:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>