@{
    ViewBag.Title = "Home Page";
}



<div class="row front-row">
    <div class="col-md-5 front-col">
        <h2>Nyheder</h2>
        <p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Overskrift</th>
                        <th>Dato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Billeder fra årets julefrokost</td>
                        <td>03-01-2018</td>
                    </tr>
                    <tr>
                        <td>Husk nu leverdrengen GITTE!!</td>
                        <td>20-12-2017</td>
                    </tr>
                    <tr>
                        <td>Vær sød at huske leverdrengen Gitte :)</td>
                        <td>12-12-2017</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div class="col-md-6 front-col">
        <h2>Ruter</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>