@model IEnumerable<Homecare.Models.DataModels.Route>

@{
    ViewBag.Title = "RouteList";
}

<h2>RouteList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.Caretaker.caretaker_name)
    @Html.DisplayFor(modelItem => item.date)
}

